.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 40rem; /* Un buen ancho para 4 columnas */
    margin: 0 auto;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
    box-shadow: 0 0.4rem 1.5rem rgba(76, 61, 61, 0.1);
}