*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* Paleta de Colores (Modo Claro - por defecto) */
    --color-bg-main: #FFFBF5;
    --color-bg-secondary: #F7EFE5;
    --color-text: #4C3D3D;
    --color-primary: #7743DB;
    --color-accent: #F5A6E6;

    font-size: 62.5%;
}

[data-theme='dark'] {
    --color-bg-main: #1a1a2e;       /* Un azul muy oscuro */
    --color-bg-secondary: #16213e;  /* Un azul naval */
    --color-text: #e0e0e0;          /* Un gris claro para el texto */
    --color-primary: #9d84e1;       /* Un lila más brillante para contraste */
    --color-accent: #f5a6e6;        /* Mantenemos el acento rosa, que resalta bien */
}
