:root {
    /* Paleta de Colores */
    --color-bg-main: #FFFBF5;
    --color-bg-secondary: #F7EFE5;
    --color-text: #4C3D3D;
    --color-primary: #7743DB; /* Usaremos el violeta como primario */
    --color-accent: #F5A6E6;

    /* Trick para que 1rem = 10px */
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.6rem; /* Tamaño de letra base de 16px */
    color: var(--color-text);
    background-color: var(--color-bg-main);
}